<!DOCTYPE html>
<html>
<head>
	<title>
		Meetup Doula
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https:////maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
		    
		    <div class="navbar-header">
		    	<p class="navbar-text">Meetup Doula: helping you find meetups for learning to code</p>
		    </div> <!--  closes nav -->

		</div> <!--  closes nav container fluid -->

	</nav> <!--  closes all nav -->

    <div class="container-fluid">

        {% block body %}{% endblock %}

    </div> <!--  closes body block container fluid -->




</body>
</html>
