{% extends 'base.html' %}
{% block body %}

	<form action="/get_meetups" method="GET">

		<div class="row"> <!-- begin form -->	
			<div class="form-inline">
				<div class="form-group">
				    <label for="zipcode">Zipcode</label><br>
				    <input type="text" class="form-control col-sm-2 " name="zipcode" id="zipcode" placeholder="Ex. 95401" width="50%">
		  		</div>
			</div>
		</div> <!-- close row -->
		<div class="row">
				<div class="form-inline">
				    <div class="form-group"><br>
				            <span class="text-formatting">Events within </span>
				             <select class="form-control" name="radius" id="selectRadius">
				              </select> <span class="text-formatting-2"> mile(s) radius of zipcode.</span>
				    </div>
				</div>
		</div> <!-- close row -->


		<div class="row">	
				<div class="form-inline">
			   	 	<div class="form-group"><br>
			            <span class="text-formatting">Time Frame</span>
			            <select class="form-control" name="number" id="selectNumber">
			            </select> <span class="text-formatting-2"></span>

			            <select class="form-control" name="timeframe" id="selectTime">
			            </select> <span class="text-formatting-2"></span>
			  		</div>
			  		<br>
				        <button type="submit" class="btn btn-default teal">Submit</button>
				</div>
		</div> <!-- close row -->

	</form>
</div> <!-- close container -->

<script>
  var select = document.getElementById("selectRadius"); 
  var options = ["Select","1", "5", "10", "20", "50", "100"]; 

  for(var i = 0; i < options.length; i++) {

      var opt = options[i];
      var el = document.createElement("option");
      el.textContent = opt;
      el.value = opt;
      select.appendChild(el);
    }

console.log("yo")

  var number_select = document.getElementById("selectNumber"); 
  var options = ["Select", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]; 

  for(var i = 0; i < options.length; i++) {

      var opt = options[i];
      var el = document.createElement("option");
      el.textContent = opt;
      el.value = opt;
      number_select.appendChild(el);
    }

  var number_select = document.getElementById("selectTime"); 
  var options = ["Day(s)", "Week(s)", "Month(s)"];
  var abrrev = {"Day(s)":"d", "Week(s)": "w", "Month(s)": "m"};

  for(var i = 0; i < options.length; i++) {

      var opt = options[i];
      var el = document.createElement("option");
      el.textContent = opt;
      el.value = abrrev[opt];
      number_select.appendChild(el);
    }


</script>

{% endblock %}


